h1 {
  text-align: center;
  padding-top: 1cm;
  font-size: x-large;
  padding-bottom: 1cm;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: red;
}
img {
  baackground: transparent;
  width: 5cm;
  padding-right: 0.8cm;
  margin-left: 34cm;
  
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("pik.jpg");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type = "submit"]{
  color: white;
  text-align: center;
  padding: 5px;
  width: 150px;
  height: 30px;
  background-color:red;
  border: 3px  solid blue;
  font-weight: bold;
}

input[type ="submit"]:hover{
  background-color:lime;
}

.Homebtn {
width: 20cm;
height: 5cm;
border-radius: 5px;
background:lime;
padding-left:5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 1cm;
color: black;
font-weight: bold;
width: 150px;
height: 30px;
}

input[type=password], input [type=password], input[type=password]{
width: 10cm;
border-radius: 5px;
padding: 12px 5px;
display: inline-block;
border: 1px solid;
box-sizing: border-box;
background-color: lightgray;
}

.changebtn {
width: 10cm;
border-radius: 5px;
padding: 2px 4px;
margin: 0.5px 1px ;
background: red;
color: black;
font-weight: bold;
height: 30px;
width: 200px;

}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  padding-left: 1cm;  
}